.paper{
    text-transform: capitalize;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    background-image: linear-gradient(
      to right,
      dodgerBlue 0%,
      hsl(204, 100%, 50%) 29%,
      #9b999e 67%,
      hsl(240, 9%, 9%) 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s infinite;
    display: inline-block;
        font-size: 2.5vmax;
  }
  
  @keyframes textclip {
    from{
      background-position: 200% center;
    }
    to {
      background-position:0%
    }
}
/* @media only screen and (max-width:1050px ) {
  #graphs{
    display: grid;
    grid-template-columns: 1fr;
  }
  #stats{
    display: grid;
    grid-template-columns: 1fr;
  }
} */
@media only screen and (max-width:800px ) {
   .paper{
     font-size:1.75rem;
   }
}
